<!--button ng-click="saveData.save()">Test Save</button>
<button ng-click="saveData.load()">Test Load</button><br-->
<!--div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/">AC:CF Checklist</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-click="tab.active='fish'" ng-class="{active: tab.active=='fish'}"><a>Fish</a></li>
                <li ng-click="tab.active='bugs'" ng-class="{active: tab.active=='bugs'}"><a>Bugs</a></li>
            </ul>
        </div>
    </div>
</div-->
<div class="container">
    <!--button ng-click="showTimeControls = !showTimeControls">{{date.get() | date: 'MMMM dd, ha'}}</button>
    <input type="text" ng-model="searchFilter.name" placeholder="Search">
    <div ng-show="showTimeControls">
        <button ng-click="date.incMonth(-1)">&lt;</button>
        {{date.get() | date: 'MMMM'}}
        <button ng-click="date.incMonth(1)">&gt;</button>
        <button ng-click="date.incDate(-1)">&lt;</button>
        {{date.get() | date: 'dd'}}
        <button ng-click="date.incDate(1)">&gt;</button>
        <button ng-click="date.incHours(-1)">&lt;</button>
        {{date.get() | date: 'ha'}}
        <button ng-click="date.incHours(1)">&gt;</button>
    </div-->
    <div class="row">
        <h2>AC:CF Checklist</h2>
    </div>
    <div class="row">
        <div class="form-inline">
            <!--div class="form-group col-sm-3 col-md-2">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button ng-click="tab.active='fish'" ng-class="{active: tab.active=='fish'}" class="btn btn-default btn-add">Fish</button>
                    </div>
                    <div class="btn-group">
                        <button ng-click="tab.active='bugs'" ng-class="{active: tab.active=='bugs'}" class="btn btn-default btn-add">Bugs</button>
                    </div>
                </div>
            </div-->
            <div class="form-group col-sm-3">
                <button ng-click="showTimeControls = !showTimeControls" class="btn btn-block btn-default">{{date.get() | date: 'MMMM dd, ha'}}</button>
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input type="text" ng-model="searchFilter.name" class="form-control" placeholder="Filter species">
                </div>
            </div>
        </div>
        <div class="form-inline col-xs-12 col-sm-10" ng-show="showTimeControls">
            <div class="input-group col-sm-3">
                <span class="input-group-btn">
                    <button ng-click="date.incMonth(-1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </span>
                <input type="text" class="form-control text-center" value="{{date.get() | date: 'MMMM'}}" readonly>
                <span class="input-group-btn">
                    <button ng-click="date.incMonth(1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </span>
            </div>
            <div class="input-group col-sm-2">
                <span class="input-group-btn">
                    <button ng-click="date.incDate(-1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </span>
                <input type="text" class="form-control text-center" value="{{date.get() | date: 'dd'}}" readonly>
                <span class="input-group-btn">
                    <button ng-click="date.incDate(1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </span>
            </div>
            <div class="input-group col-sm-3">
                <span class="input-group-btn">
                    <button ng-click="date.incHours(-1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </span>
                <input type="text" class="form-control text-center" value="{{date.get() | date: 'ha'}}" readonly>
                <span class="input-group-btn">
                    <button ng-click="date.incHours(1)" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row" ng-init="tab.active='fish'">
        <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{active: tab.active=='fish'}" class="text-center col-xs-6 col-sm-3" ng-click="tab.active = 'fish'"><a role="tab">Fish</a></li>
            <li ng-class="{active: tab.active=='bugs'}" class="text-center col-xs-6 col-sm-3" ng-click="tab.active = 'bugs'"><a role="tab">Bugs</a></li>
        </ul>
        <div class="tab-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="sort.set(['caught', 'slot'])">&#x2713;</th>
                        <th ng-click="sort.set(['-isAvailable()', 'caught', 'slot'])">&#x1F553;</th>
                        <th ng-click="sort.set('slot')">#</th>
                        <th ng-click="sort.set('name')">Name</th>
                        <th ng-click="sort.set(['location', 'name'])">Location</th>
                        <th class="hidden-xs" ng-click="sort.set('season')">Season</th>
                        <th class="hidden-xs" ng-click="sort.set('shadow')" ng-show="tab.active=='fish'">Shadow</th>
                        <th class="hidden-xs" ng-click="sort.set('value')">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animal in (tab.active=='fish' ? species.fish : species.bugs) | orderBy:sort.order:sort.reverse | filter: searchFilter" ng-class="{success: animal.caught}">
                        <td><input type="checkbox" ng-model="animal.caught"></td>
                        <td>{{animal.isAvailable()}}</td>
                        <td>{{animal.slot}}</td>
                        <td>{{animal.name}}</td>
                        <td>{{animal.habitat}}</td>
                        <td class="hidden-xs" >{{animal.season}}</td>
                        <td class="hidden-xs" ng-show="tab.active=='fish'">{{animal.shadow}}</td>
                        <td class="hidden-xs" >{{animal.value}}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
