<h2>!!!!!!!{{test.words}}</h2>
<input type="text" ng-model="searchFilter.name" placeholder="Fish">
<table>
    <thead>
        <tr>
            <th ng-click="sort.set(['caught', 'slot'])">&#x2713;</th>
            <th ng-click="sort.set('available')">&#x1F553;</th>
            <th ng-click="sort.set('slot')">Slot</th>
            <th ng-click="sort.set('name')">Name</th>
            <th ng-click="sort.set(['location', 'name'])">Location</th>
            <th ng-click="sort.set('slot')">Season</th>
            <th ng-click="sort.set('value')">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="fish in species.fish | orderBy:sort.order:sort.reverse | filter: searchFilter" ng-class="{caught: fish.caught}">
            <td><input type="checkbox" ng-model="fish.caught"></td>
            <td>{{fish.available && ':)' || ':('}}</td>
            <td>#{{fish.slot}}</td>
            <td>{{fish.name}}</td>
            <td>{{fish.location}}</td>
            <td>{{fish.season}}</td>
            <td>{{fish.value}}</td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
