<div class="container">
    <!-- Expand date settings, filter for certain species -->
    <div class="row">
        <div class="form-group col-sm-3">
            <button ng-click="showTimeControls = !showTimeControls" class="btn btn-block btn-default">{{date.get() | date: 'MMMM dd, ha'}}</button>
        </div>
        <div class="form-group col-sm-4 col-md-3">
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-search"></span></div>
                <input type="text" ng-model="searchFilter.name" class="form-control" placeholder="Filter species" autocapitalize="off" autocorrect="off" autocomplete="off">
            </div>
        </div>
    </div>
    <!-- Expanded settings for changing date -->
    <div class="row form-group" ng-show="showTimeControls">
        <div class="panel panel-default">
            <div class="panel-heading">Date settings</div>
            <div class="panel-body">
                <div class="col-sm-4 col-md-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button ng-click="date.incMonth(-1)" class="btn btn-default">
                                <span class="fa fa-chevron-left"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control text-center" value="{{date.get() | date: 'MMMM'}}" readonly>
                        <span class="input-group-btn">
                            <button ng-click="date.incMonth(1)" class="btn btn-default">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button ng-click="date.incDate(-1)" class="btn btn-default">
                                <span class="fa fa-chevron-left"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control text-center" value="{{date.get() | date: 'dd'}}" readonly>
                        <span class="input-group-btn">
                            <button ng-click="date.incDate(1)" class="btn btn-default">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button ng-click="date.incHours(-1)" class="btn btn-default">
                                <span class="fa fa-chevron-left"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control text-center" value="{{date.get() | date: 'ha'}}" readonly>
                        <span class="input-group-btn">
                            <button ng-click="date.incHours(1)" class="btn btn-default">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="input-group btn-block">
                        <button ng-click="date.reset()" class="btn btn-block btn-danger">
                            Reset <span class="fa fa-remove"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabs & tables -->
    <div class="row" ng-init="tab.active='fish'">
        <!-- Tabs for separate tables of fish data and bug data -->
        <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{active: tab.active=='fish'}" class="text-center col-xs-6 col-sm-3" ng-click="tab.active = 'fish'"><a role="tab">Fish</a></li>
            <li ng-class="{active: tab.active=='bugs'}" class="text-center col-xs-6 col-sm-3" ng-click="tab.active = 'bugs'"><a role="tab">Bugs</a></li>
        </ul>
        <!-- Table for species data -->
        <div class="tab-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="sort.set(['caught', 'slot'])"><span class="fa fa-check"></span></th>
                        <th ng-click="sort.set('slot')">#</th>
                        <th ng-click="sort.set('name')">Name</th>
                        <th ng-click="sort.set(['-seasonalData().code', 'seasonalData().next.month', 'caught', 'slot'])">Season</th>
                        <th ng-click="sort.set(['habitat', 'name'])">Location</th>
                        <th class="hidden-xs" ng-click="sort.set('shadow')" ng-show="tab.active=='fish'">Shadow</th>
                        <th class="hidden-xs" ng-click="sort.set('value')">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animal in (tab.active=='fish' ? species.fish : species.bugs) | orderBy:sort.order:sort.reverse | filter: searchFilter" ng-class="{success: animal.caught, info: animal.seasonalData().code==2 && !animal.caught}" ng-hide="error.api">
                        <td><input type="checkbox" ng-model="animal.caught"></td>
                        <td>{{animal.slot}}</td>
                        <td>{{animal.name}}</td>
                        <!-- Provide shortened season info on mobile screens -->
                        <td>
                            <span class="visible-xs">{{animal.seasonalData().str}}</span>
                            <span class="hidden-xs">{{animal.season}}</span>
                        </td>
                        <td>{{animal.habitat}}</td>
                        <td class="hidden-xs" ng-show="tab.active=='fish'">{{animal.shadow}}</td>
                        <td class="hidden-xs" >{{animal.value}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <!-- Something to show if API calls failed -->
                    <tr ng-show="error.api">
                        <td colspan="100" class="danger">Failed to load encyclopedia from database, try refreshing</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- Export link for saving todo list -->
    <div class="row">
        <div class="form-group col-sm-9 col-md-7 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Export save data</div>
                <div class="panel-body">
                    <input type="text" value="{{saveData.url()}}" class="form-control" placeholder="Save data" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" auto-select>
                </div>
            </div>
        </div>
    </div>
</div>
