<!DOCTYPE html>
<html lang="en" ng-app="acdbApp">
<head>
    <title>AC:CF Checklist</title>
    <base href="{% url 'checklist' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="/">AC:CF Checklist</a>
            </div>
        </div>
    </div>
    <div ng-view>
        <div class="jumbotron col-sm-offset-3 col-sm-6 text-center">
            <h1>Loading...</h1><i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
    </div>
    <hr>
    <footer>
        <div class="container text-center">
            <p>Code licensed under <a href="https://github.com/tedle/acdb/blob/master/LICENSE">MIT</a></p>
            <p><a href="https://github.com/tedle/acdb">Source</a> on GitHub</p>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}acdb.js"></script>
</body>
</html>
