input[readonly] {
    cursor: default !important;
}
.nav-tabs > li {
    cursor: pointer;
}
th {
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
th:hover {
    color: #2196f3;
}
th.active {
    color: #2196f3;
}
